.displayLogin{
	color:black;
	position: absolute;
	right:25%;
	border: solid black 2px;
	background-color: white;
	top:7%;
	left:25%;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
}
.loginScreen{
	padding-left: 15px;
}
#loginPrompt{
	font-size: 30px;
}
#createUserPrompt{
	font-size: 30px;
}
#closeWindow{
	cursor: pointer;
	width:15px;
	margin-left: 45.5%;
}