nav ul a {
	color: brown;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 18pt
}

body {
	background-color: #455063;
}



#index-banner {
	border-bottom:15px solid white;
	border-top: 15px solid white;
}

.dropdown-content li > a, .dropdown-content li > span {
	color:brown;
	font-size: 14pt;
}


#navbar {
	background-color: #455063;
	height: 105px;
	border-bottom: 15px solid white;
}

 #title{
  font-size: 72pt;
  font-family: 'Bangers', cursive;

 }

 h1 {
  color:red;
  font-family: 'Bangers', cursive;
 }

	 h2 {
  font-family: 'Bangers', cursive;
 }

  h4 {
  color:brown;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 36pt;
 }
 p{
 	font-size: 14pt;
 }

 .time {
  color:white;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
 }



.displayLogin{
	color:black;
	position: absolute;
	right:25%;
	border: solid black 2px;
	background-color: white;
	top:7%;
	left:25%;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
}
.loginScreen{
	padding-left: 15px;
}
#loginPrompt{
	font-size: 30px;
}
#createUserPrompt{
	font-size: 30px;
}
#closeWindow{
	cursor: pointer;
	width:15px;
	margin-left: 47%;
}

#middlePic {
 background-color: #38557C;

}
 footer {
 	background-color: #455063;
 	height: 105px;
	border-top: 15px solid white;
 }
