nav ul a {
	color: #182438;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size: 18pt
}

.dropdown-content li > a, .dropdown-content li > span {
	color:#182438;
	font-size: 14pt;
}

#navbar2 {
	background-color: #455063;
	height: 75px;
	border-bottom: 5px solid white;
}

h1 {
	color: #38557C;

}
h5 {
	color: #38557C;
	font-size: 24pt;
}

#welcome{
	color: white;
	font-size: 24pt;
}

 #clock {
 	color: white;
 }
